header.header
	.header-column
		h1
			a(href=routes.home)
				i.fab.fa-youtube
				| #{siteName}
	.header-column
		form(action=routes.search method="get")
			input(type="text" name="term")
	.header-column
		ul
			if !user.isAuthenticated
				li
					a(href=routes.login)
						| Login
				li
					a(href=routes.join)
						| Join
			else
				li
					a(href=routes.upload)
						| Upload
				li
					a(href=routes.userDetail(user.id))
						| profile
				li
					a(href=routes.logout)
						| Logout